@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

$-clr-p--VeryDarkBlue: hsl(243, 87%, 12%);
$-clr-p--DesaturatedBlue: hsl(238, 22%, 44%);
$-clr-a--BrightBlue: hsl(224, 93%, 58%);
$-clr-a--ModerateCyan: hsl(170, 45%, 43%);
$-clr-n--LightGrayishBlue: hsl(240, 75%, 98%);
$-clr-n--LightGray: hsl(0, 0%, 75%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
nav,
button,
input {
  font-family: "Raleway", sans-serif;
}

button {
  background-color: $-clr-a--BrightBlue;
  color: $-clr-n--LightGrayishBlue;
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem 1.25rem;
  font-weight: 700;
  &:hover {
    background-color: hsl(224, 93%, 68%);
    cursor: pointer;
  }
}

input {
  padding: 0.75em 1.25em;
  color: $-clr-p--VeryDarkBlue;
  border: 1px solid $-clr-p--VeryDarkBlue;
  border-radius: 0.25rem;
  &::placeholder {
    color: $-clr-n--LightGray;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.validation-error {
  opacity: 1;
  color: inherit;
  text-align: left;
}

.hidden {
  opacity: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  padding-block: 1.5rem 5.5rem;
  padding-inline: 1.5rem;
  &__logo {
    width: clamp(50px, 20vw, 100px);
  }
  &__links {
    width: clamp(130px, 51%, 200px);
    display: flex;
    justify-content: space-between;
  }
}

.hero {
  background-image: url(../images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100vw;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-block: 0 4.35rem;
  &__img {
    width: 81vw;
  }
  &__info {
    padding-block: 2.25rem 2.5rem;
    padding-inline: 7.8vw;
    text-align: center;
    &-header {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.42;
      padding-block: 0 1.5rem;
    }
    &-copy {
      font-size: 0.85rem;
      line-height: 1.45;
      padding-block: 0 1.75rem;
    }
    &-form {
      display: flex;
      flex-direction: column;
      &-inpt-btn {
        display: flex;
        flex-direction: column;
        & > * {
          margin: 0 0.5rem 1rem 0.5rem;
        }
      }
    }
  }
}

.access {
  background-color: $-clr-n--LightGrayishBlue;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  &__img {
    width: 81vw;
    padding: 1.35rem 0 3rem 0;
  }
  &__info {
    padding-block: 2.5rem 5rem;
    padding-inline: 5vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-header {
      font-size: 1.02rem;
      font-weight: 700;
      line-height: 1.42;
      padding-block: 0 1.5rem;
    }
    &-copy {
      font-size: 0.85rem;
      line-height: 1.52;
      text-align: left;
      padding-block: 0 0.75rem;
    }
    &-link {
      display: flex;
      align-items: center;
      margin-block: 1.125rem 2.5rem;
      font-size: 0.75rem;
      color: $-clr-a--ModerateCyan;
      border-bottom: 1px solid $-clr-a--ModerateCyan;
      height: 25px;
      &:hover {
        color: hsl(170, 45%, 63%);
        border-bottom: 1px solid hsl(170, 45%, 63%);
      }
      img {
        padding-left: 5px;
      }
    }
    &-quote {
      background-color: white;
      border-radius: 3px;
      padding: 1.25rem 1.15rem 1rem 1.65rem;
      font-size: 0.67rem;
      text-align: left;
      width: 85%;
      box-shadow: 10px 10px solid $-clr-p--VeryDarkBlue;
      &-copy {
        line-height: 1.75;
        padding-bottom: 0.5rem;
      }
      &-user {
        display: flex;
        align-items: center;
        &-avatar {
          height: 25px;
          border-radius: 50%;
        }
        &-info {
          padding-left: 0.45rem;
        }
        &-name {
          font-size: 0.65rem;
        }
        &-title {
          font-size: 0.40625rem;
        }
      }
    }
  }
}

.sign-up {
  background-color: $-clr-p--DesaturatedBlue;
  color: $-clr-n--LightGrayishBlue;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-block: 2.25rem 2.75rem;
  padding-inline: 2.5rem;
  &__info {
    text-align: center;
    &-header {
      font-size: 1.1rem;
      padding-block: 0.5rem;
    }

    &-copy {
      font-size: 0.85rem;
      line-height: 1.55;
      padding-block: 0.5rem 1rem;
    }
  }
  &__form {
    margin: 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-inpt-btn {
      display: flex;
      flex-direction: column;
    }
    &-inpt {
      margin-block: 0rem 0.51rem;
    }
    &-btn {
      margin-block: 0.51rem;
    }
  }
}

.footer {
  width: 100%;
  padding-block: 3.5rem 0rem;
  padding-inline: 2.5rem;
  background-color: $-clr-p--VeryDarkBlue;
  color: $-clr-n--LightGrayishBlue;

  &-logo {
    filter: invert(92%) sepia(22%) saturate(284%) hue-rotate(192deg)
      brightness(103%) contrast(99%);
  }

  &-info > * {
    padding-block: 1rem;
  }

  &-contact > * {
    display: flex;
    padding-block: 0.5rem;
    &:hover {
      color: $-clr-p--DesaturatedBlue;
    }
  }
  &-contact-icon {
    height: fit-content;
    padding-inline: 0 1.5vw;
  }

  &-links > * {
    padding-block: 0.75rem;
  }
  &-links ul > * {
    padding-block: 0.5rem;
    list-style: none;
    &:hover {
      color: $-clr-p--DesaturatedBlue;
    }
  }

  &-social {
    display: flex;
    justify-content: center;
    .fa-brands {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      &:hover {
        cursor: pointer;
        color: $-clr-a--BrightBlue;
        border: 1px solid $-clr-a--BrightBlue;
      }
    }

    & > * {
      border: 1px solid white;
      padding: 0.35rem;
      border-radius: 50%;
      margin-inline: 5px;
    }
  }

  &-attribution {
    font-size: 0.65rem;
    text-align: center;
    padding-block: 1rem 0.25rem;
    a:hover {
      color: $-clr-a--ModerateCyan;
    }
  }
}

@media (min-width: 800px) {
  .nav {
    font-size: 1rem;
    padding-block: 4rem;
    padding-inline: 5.65%;
    &__logo {
      width: clamp(150px, 11.25vw, 200px);
    }
    &__links {
      width: clamp(200px, 21.25%, 300px);
    }
  }

  .hero {
    background-image: url(../images/bg-curve-desktop.svg);
    flex-direction: row;
    align-items: flex-start;
    padding-inline: 5.6%;
    padding-block: 1.5rem 10.75rem;
    &__img {
      width: 46vw;
      padding-inline: 2rem 0;
    }
    &__info {
      text-align: left;
      padding-block: 4.25rem;
      padding-inline: 0;
      &-header {
        font-size: clamp(1.28rem, 2.77vw, 3rem);
        line-height: 1.5;
        padding-block: 0.5rem;
      }
      &-copy {
        font-size: 1.09rem;
        line-height: 1.35;
        letter-spacing: 0.3px;
        padding-block: 0.5rem 1.65rem;
        padding-inline: 0rem 2rem;
      }
      &-form {
        &-inpt-btn {
          flex-direction: row;
          height: 3.75rem;
        }
        &-input {
          width: 52.5%;
          margin: 0 0.5rem 1rem 0;
        }
        &-btn {
          width: 33%;
          min-width: fit-content;
        }
      }
    }
  }

  .access {
    flex-direction: row;
    align-items: flex-start;
    padding-inline: 5.6%;
    padding-block: 10.75rem 1.2rem;
    text-align: left;
    &__img {
      width: 37vw;
    }
    &__info {
      padding-block: 0rem 5.75rem;
      padding-inline: 0;
      display: flex;
      align-items: flex-start;

      &-header {
        font-size: clamp(1.28rem, 2.77vw, 3rem);
        padding-block: 0rem 1rem;
        margin-block: -0.51rem 0;
      }
      &-copy {
        font-size: 0.98rem;
        line-height: 1.5;
        padding-block: 1rem 0.25rem;
        padding-inline: 0rem 15vw;
      }
      &-link {
        margin-block: 0.75rem 2.75rem;
        font-size: 1rem;
      }
      &-quote {
        padding: 1.5rem 1.55rem 2rem 2rem;
        font-size: 0.87rem;
        width: clamp(20rem, 48%, 40rem);
        &-user {
          &-avatar {
            height: 2.2vw;
          }
          &-name {
            font-size: 0.8rem;
          }
          &-title {
            font-size: 0.55rem;
          }
        }
      }
    }
  }

  .sign-up {
    flex-direction: row;
    padding-inline: 5.6%;
    padding-block: 6rem 3.85rem;
    &__info {
      text-align: left;
      width: 50vw;
      &-header {
        font-size: clamp(1.28rem, 2.2vw, 3rem);
        padding-block: 0.5rem 0.75rem;
      }
      &-copy {
        font-size: 1.065rem;
        line-height: 1.5;
        padding-inline: 0 13vw;
      }
    }
    &__form {
      width: 34vw;
      margin: 1.25rem 2rem;
    }
  }

  .footer {
    padding-inline: 5.6%;
    padding-block: 6.7rem 0rem;
    &-logo {
      width: clamp(150px, 12vw, 200px);
    }
    &-info {
      width: 75.5vw;
      display: flex;
      justify-content: space-between;
      padding-block: 0;
    }
    &-contact {
      padding-block: 0.75rem;
      padding-inline: 0 2.5vw;
    }
    &-links {
      display: flex;
      justify-content: space-between;
      width: 31.75%;
      padding-inline: 0rem 0;
      padding-block: 0;
    }
  }
}
